@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');


*{
    font-family:"Asap", sans-serif;
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}
body{
    margin:0;
    background-image: url("../img/bd.jpg");
    background-size: cover;
    background-attachment: fixed;    
}

.header{
    position:fixed;
    background-color: #FFFDF6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    width: 100%;    
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
        
}
.header .logo img{
    height: 90px;
    width: auto;
    transition: all 0.3s;
    
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display:inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 35px;
    color:  #E67125;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: #F6DB35;
}
.buscar{
    position: relative;
    padding: 5px;
}
.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    color: #F6DB35;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition:all 0.6s ease;
}
.btn{
    position:absolute;
    top:0;
    right:0;
    background-color: #E67125;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align:center;
    color: white;
    font-size: 20px;
    border-radius:30px;
    cursor:pointer;
}

.botones-login-carrito a{
    position:relative;
    top:0;
    right:0;
    background-color: #E67125;
    justify-content: space-around;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align:center;
    color: white;
    font-size: 20px;
    border-radius:30px;
    cursor:pointer;
    text-decoration:none;
}
.botones-login-carrito a:hover{
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .header{
        flex-direction: column;
    }
}


.texto {
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align:center;    
    color:#E67125;
    font-size: 2em;
    
    
}
.boton-comprar a {
    position:absolute;
    background-color: #E67125;
    left:50%;
    top: 80%;
    width: 250px;
    height: 50px;
    transform: translate(-50%, -50%);
    text-align:center;    
    color:white;
    font-size: 2em;
    border-radius:30px;
    cursor:pointer;
    text-decoration:none;
    
}
.botones-redess{
    position:absolute;
    bottom: 20px;
    right: 20px;
}
.botones-redess a{    
    background-color: #E67125;
    justify-content: space-around;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align:center;
    color: white;
    font-size: 20px;
    border-radius:30px;
    cursor:pointer;
    text-decoration:none;
}
.botones-redess a:hover{
    transform: scale(1.2);
}

